section.intro {
  overflow-y: visible;
  padding: 60px 0;
  position: relative;
  text-align: center;
}
section.intro .bg-shadow {
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: 14%;
  width: 60%;
  z-index: -1;
}
section.zoom .bg-shadow {
  top: -30%;
}
section.intro .bg-shadow-2,
section.zoom .bg-shadow {
  left: 0;
  opacity: 0.7;
  position: absolute;
  width: 60%;
  z-index: -1;
}
section.intro .bg-shadow-2 {
  top: -10%;
}
section.intro .back-image {
  margin-right: -30%;
  overflow-y: visible;
  position: absolute;
  right: 50%;
  top: -15px;
  width: 60%;
  z-index: -1;
}
section.intro .container {
  max-width: 900px !important;
}
section.intro .img-wrapper {
  position: relative;
}
section.intro .img-wrapper .sell-sign {
  bottom: 60px;
  left: -30px;
  position: absolute;
  width: 120px;
}
section.intro .img-wrapper .buy-sign {
  bottom: 60px;
  position: absolute;
  right: -50px;
  width: 140px;
}
section.intro .img-wrapper .eth-1 {
  left: -60px;
  position: absolute;
  top: -15px;
  width: 60px;
}
section.intro .img-wrapper .eth-2 {
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
  left: 60px;
  position: absolute;
  top: 80px;
  width: 45px;
}
section.intro h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
section.intro .main-img,
section.intro h1 {
  margin-bottom: 60px;
}
section.intro p.text {
  color: #c4c4c4;
}
section.info {
  padding: 100px 0;
  position: relative;
}
section.info .elipse {
  bottom: -10%;
  position: absolute;
  right: 0;
  z-index: -1;
}
section.info .pre-title {
  color: var(--typo, #f7f6ff);
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 18px;
}
section.info .title {
  color: var(--typo, #f7f6ff);
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
section.info .coins {
  bottom: 24%;
  left: 0;
  position: absolute;
}
section.info .desc {
  color: var(--typo, #f7f6ff);
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 40px;
}
section.info .desc span {
  display: block;
  margin-left: 240px;
  margin-top: 18px;
}
section.info .caption {
  color: var(--typo, #f7f6ff);
  margin: 30px auto;
  max-width: 300px;
}
section.info .img-wrapper {
  position: relative;
}
section.info .img-wrapper .eth-1 {
  position: absolute;
  right: 60px;
  top: 40%;
  width: 135px;
}
section.zoom {
  min-height: 800px;
  padding: 60px 0;
  position: relative;
}
section.zoom .container-fluid {
  max-width: 80%;
}
section.zoom .chart {
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  width: calc(100% - 60px);
}
section.zoom .swiper {
  padding-bottom: 15px;
}
section.zoom .swiper-pagination {
  bottom: 0 !important;
  top: unset;
}
section.zoom .swiper-pagination-bullet {
  background-color: #fff !important;
}
section.zoom .swiper-slide.swiper-slide-next .chart {
  width: 100%;
}
section.zoom .swiper-slide h3.name {
  color: var(--typo, #f7f6ff);
  font-size: 22px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 30px;
  opacity: 0.5;
  text-align: center;
  width: calc(100% - 60px);
}
section.zoom .swiper-slide .chart {
  opacity: 0.5;
}
section.zoom .swiper-slide p.desc {
  height: 120px;
  opacity: 0;
  width: 100%;
}
section.zoom .swiper-slide.swiper-slide-next h3.name {
  font-size: 22px;
  opacity: 1;
  text-align: center;
  width: 100%;
}
section.zoom .swiper-slide.swiper-slide-next p.desc {
  opacity: 1;
  text-align: center;
  width: 100%;
}
section.zoom .swiper-slide.swiper-slide-next .chart {
  opacity: 1;
}
section.zoom .swiper-slide.swiper-slide-active .chart,
section.zoom .swiper-slide.swiper-slide-active h3.name {
  display: block;
  margin-left: auto;
}
section.zoom .swiper-wrapper {
  align-items: center;
}
section.zoom .main-title {
  color: var(--typo, #f7f6ff);
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 50px;
  text-align: center;
}
section.zoom .swiper-wrapper {
  min-height: 600px;
}
section.zoom .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 25px auto 0;
}
section.zoom .desc,
section.zoom .title {
  color: var(--typo, #f7f6ff);
  display: block;
  width: 37%;
}
section.zoom .desc {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  margin: 15px auto 0;
}
section.video {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 70%;
  margin: 20px 0;
  padding: 100px 0;
  position: relative;
}
section.video .container {
  max-width: 900px !important;
}
section.testimonials {
  padding: 20px 0;
  position: relative;
}
section.testimonials .title {
  color: var(--typo, #f7f6ff);
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 70px;
  text-align: center;
}
section.testimonials .testimonial {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0 auto;
  max-width: 600px;
}
section.testimonials .testimonial .photo {
  background-color: var(--typo);
  border: 1px solid #e8bd24;
  border-radius: 50%;
  flex-shrink: 0;
  height: 72px;
  width: 72px;
}
section.testimonials .testimonial .text {
  color: var(--typo, #f7f6ff);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin: 0;
}
section.testimonials .testimonial .author {
  color: #f7f6ff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 10px;
  text-transform: uppercase;
}
section.plans {
  overflow-y: visible;
  padding: 60px 0;
  position: relative;
}
section.plans .bg-shadow {
  bottom: -60%;
  opacity: 0.7;
  position: absolute;
  right: 0;
  width: 60%;
  z-index: -1;
}
section.plans .bg-shadow-2 {
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: -30%;
  width: 60%;
  z-index: -2;
}
section.plans .container {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(
    225deg,
    hsla(240, 1%, 53%, 0.2) 25.76%,
    rgba(233, 233, 255, 0) 96.96%
  );
  border: 1px solid rgba(247, 246, 255, 0.3);
  border-radius: 16px;
  box-shadow: 2px 19px 18px 0 hsla(0, 0%, 9%, 0.32);
  padding: 80px 30px;
  position: relative;
  z-index: 2;
}
section.plans .container .buy-sign {
  left: 7.5%;
  position: absolute;
  top: -60px;
  width: 135px;
}
section.plans .container .coins {
  position: absolute;
  right: 7.5%;
  top: -85px;
  width: 165px;
}
section.plans .title {
  color: var(--typo, #f7f6ff);
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 90px;
  text-align: center;
}
section.plans .plan-card {
  border: 1px solid #e8bd24;
  border-radius: 8px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.33);
  color: var(--typo, #f7f6ff);
  text-align: center;
  z-index: 2;
}
section.plans .plan-card.highlated {
  background: #292929;
  border: 1px solid #d7b178;
  box-shadow: 0 0 16px 0 hsla(36, 54%, 66%, 0.25);
}
section.plans .plan-card .plan-name {
  font-size: 16px;
  font-weight: 400;
  margin-top: 32px;
}
section.plans .plan-card.highlated .plan-name {
  background-color: #e8bd24;
  border-radius: 8px 8px 0 0;
  color: #161616;
  margin: 0 0 20px;
  padding: 10px 0;
}
section.plans .plan-card .price {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 800;
}
section.plans .plan-card .price .currency {
  font-size: 16px;
  margin-right: 8px;
}
section.plans .plan-card .desc {
  color: var(--typo, #f7f6ff);
  font-size: 12px;
  margin-bottom: 24px;
  margin-top: 20px;
  padding: 0 12px;
  text-align: center;
}
section.plans .plan-card .line {
  background: linear-gradient(
    90deg,
    rgba(232, 189, 36, 0),
    #e8bd24 49.48%,
    rgba(232, 189, 36, 0)
  );
  height: 2px;
  margin-bottom: 20px;
  width: 100%;
}
section.plans .plan-card .benefits-list {
  font-size: 14px;
  font-weight: 300;
  list-style-type: none;
  margin: 0;
  padding: 0 15px;
  text-align: left;
  text-decoration: none;
}
section.plans .plan-card .benefits-list li {
  margin-bottom: 12px;
}
section.plans .plan-card .benefits-list i {
  color: #e8bd24;
  margin-right: 5px;
}
section.plans .plan-card .btn-oracle {
  margin-bottom: 32px;
  margin-top: 24px;
}
section.plans .plan-card.highlated .btn-oracle {
  background: #e8bd24;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.33);
  color: #161616;
}
section.plans .plan-card.highlated .btn-oracle:hover {
  background: #e8be2494;
}
section.testimonials .text-group {
  min-height: 147px;
}
section.mision {
  align-items: center;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 75%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin: 50px 0;
  padding: 170px 0;
  position: relative;
  z-index: -10;
}
section.mision .bg-shadow {
  bottom: -22%;
  left: -13%;
  opacity: 0.4;
  position: absolute;
  width: 60%;
  z-index: 1;
}
section.mision .elipse {
  left: 0;
  position: absolute;
  top: -22%;
  width: 15%;
  z-index: 1;
}
section.mision .title {
  color: var(--typo, #f7f6ff);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  z-index: 2;
}
section.mision .pre-title {
  color: var(--typo, #f7f6ff);
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}
section.mision .stats {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  max-width: 1230px;
  width: 100%;
  z-index: 2;
}
section.mision .stats .item {
  flex: 1 1 0;
}
section.mision .stats .item .stat {
  color: #e8bd24;
  font-family: Montserrat;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  text-align: center;
}
section.mision .stats .item .info {
  color: var(--typo, #f7f6ff);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
}
.circle-overlay {
  background: #161616;
  background: radial-gradient(circle, hsla(0, 0%, 9%, 0) 0, #161616 90%);
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
section.trusted-us {
  margin: 50px 0;
  padding: 170px 0;
  position: relative;
}
section.trusted-us .bg-shadow {
  opacity: 0.3;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: -90%;
  width: 60%;
  z-index: -1;
}
section.trusted-us .title {
  color: var(--typo, #f7f6ff);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
  z-index: 2;
}
section.trusted-us .bg-texture {
  bottom: -50px;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: -35%;
  width: 100%;
}
section.trusted-us .logos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
  width: 100%;
}
section.trusted-us .logos img {
  height: 40px;
  margin: 40px 0;
  opacity: 0.8;
}
section.contact {
  padding: 80px 0;
  position: relative;
}
section.contact .bg-shadow-2 {
  bottom: 0;
  left: 0;
  opacity: 0.7;
  position: absolute;
  width: 60%;
  z-index: -1;
}
section.contact h2.title {
  color: var(--typo, #f7f6ff);
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}
section.contact .text {
  color: var(--typo, #f7f6ff);
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  margin: 20px 0;
  text-align: left;
}
section.contact .btn-wpp {
  background: #28e654;
  border-radius: 8px;
  box-shadow: 0 0 35px 0 rgba(80, 210, 35, 0.42);
  color: var(--typo, #f7f6ff);
  padding: 8px 24px;
}
section.contact .btn-wpp:hover {
  background: #51dd66;
}
section.contact .phone {
  display: block;
  margin: 80px auto 10px;
  max-width: 200px;
}
section.contact .oracle-input {
  background-color: #f0f0f0;
  border-radius: 8px;
  font-size: 14px;
  height: 56px;
}
section.contact .oracle-input:not(.is-invalid) {
  border: 2px solid #e8bd24;
}
section.faqs {
  margin: 100px 0;
  position: relative;
  z-index: 3;
}
section.faqs .card-faqs {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(
    248deg,
    hsla(240, 1%, 53%, 0.1) 26.54%,
    rgba(233, 233, 255, 0) 102.96%
  );
  border-radius: 16px;
  box-shadow: 2px 19px 18px 0 hsla(0, 0%, 9%, 0.32);
  padding: 40px 80px;
}
section.faqs .card-faqs .accordion-wrapper .accordion-flush .accordion-item,
section.faqs
  .card-faqs
  .accordion-wrapper
  .accordion-flush
  .accordion-item
  .accordion-button {
  background-color: transparent;
}
section.faqs
  .card-faqs
  .accordion-wrapper
  .accordion-flush
  .accordion-item
  .accordion-button {
  box-shadow: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-top: 30px;
}
section.faqs .card-faqs .accordion-wrapper .accordion-flush .accordion-item {
  border-color: #e8bd24;
  box-shadow: none;
}
section.faqs .card-faqs .accordion-button:after {
  display: none;
}
section.faqs .card-faqs .accordion-button:before {
  color: #e8bd24;
  content: "-";
  left: 5px;
  position: absolute;
}
section.faqs .card-faqs .accordion-button.collapsed:before {
  content: "+";
}
section.faqs .card-faqs .accordion-body {
  color: #fff;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-top: 5px;
}
section.faqs .card-faqs .title {
  color: var(--typo, #f7f6ff);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
  z-index: 2;
}
.floating {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: floating;
  animation-name: floating;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@-webkit-keyframes floating {
  0% {
    transform: translatey(0) rotate(0deg);
  }
  50% {
    transform: translatey(-10px) rotate(3deg);
  }
  to {
    transform: translatey(0) rotate(0deg);
  }
}
@keyframes floating {
  0% {
    transform: translatey(0) rotate(0deg);
  }
  50% {
    transform: translatey(-10px) rotate(3deg);
  }
  to {
    transform: translatey(0) rotate(0deg);
  }
}
@media screen and (max-width: 992px) {
  section.intro {
    overflow-x: hidden;
    padding: 40px 0;
  }
  section.intro .img-wrapper .buy-sign {
    bottom: 20px;
    right: -5px;
    width: 60px;
  }
  section.intro .img-wrapper .sell-sign {
    display: none;
    left: -10px;
    width: 70px;
  }
  section.intro .back-image {
    height: 100%;
    left: 0;
    width: 100%;
  }
  section.intro h1 {
    display: block;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  section.intro .img-wrapper .eth-1 {
    left: 20px;
    width: 50px;
  }
  section.intro .img-wrapper .eth-2 {
    left: -8px;
    width: 45px;
  }
  section.info {
    padding-bottom: 0;
    padding-top: 20px;
  }
  section.info .pre-title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  section.info .title {
    font-size: 24px;
    line-height: 32px;
  }
  section.info .desc {
    margin-top: 20px;
  }
  section.info .coins {
    bottom: 2%;
    left: unset;
    width: 150px;
  }
  section.info .desc span {
    display: block;
    margin-left: 180px;
    margin-top: 0;
  }
  section.info .img-wrapper {
    margin: 10px auto;
    max-width: 60%;
  }
  section.info .img-wrapper .eth-1 {
    right: -30px;
    top: 40%;
    width: 60px;
  }
  section.zoom .chart {
    width: 100%;
  }
  section.zoom .swiper-slide.swiper-slide-active h3.name {
    font-size: 22px;
    opacity: 1;
    text-align: center;
    width: 100%;
  }
  section.zoom .swiper-slide h3.name {
    min-height: 56px;
  }
  section.zoom .swiper-slide.swiper-slide-active .chart {
    opacity: 1;
  }
  section.zoom .swiper-slide p.desc {
    opacity: 1;
    text-align: center;
  }
  section.zoom,
  section.zoom .swiper {
    padding-bottom: 80px;
  }
  section.zoom {
    min-height: unset;
  }
  section.plans .container {
    padding: 32px 16px;
  }
  section.plans .title {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: left;
  }
  section.plans .container .buy-sign {
    width: 75px;
  }
  section.plans .container .coins {
    width: 95px;
  }
  section.plans .plan-card .desc {
    margin-top: 20px;
  }
  section.plans .plan-card .btn-oracle {
    width: 90%;
  }
  section.plans .plan-card {
    margin-bottom: 15px;
  }
  section.mision {
    background-position-y: top;
    background-size: 327%;
    margin: 0;
    padding: 40px 0;
  }
  section.mision .title {
    display: block;
    font-size: 24px;
    margin: 0 auto;
    max-width: 80%;
  }
  section.mision .stats {
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
  }
  section.trusted-us .logos img {
    height: 40px;
    margin: 25px 0;
  }
  section.mision .stats .item .stat {
    font-size: 32px;
    line-height: 32px;
  }
  section.mision .stats .item .info {
    font-size: 16px;
    line-height: 16px;
  }
  section.testimonials .title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 35px;
  }
  section.testimonials .testimonial .photo {
    height: 32px;
    width: 32px;
  }
  section.testimonials .testimonial {
    gap: 15px;
  }
  section.testimonials .text-group {
    min-height: 222px;
  }
  section.trusted-us {
    padding: 0;
  }
  section.trusted-us .title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  section.trusted-us .bg-texture {
    bottom: -53px;
    height: 213%;
    left: 0;
    opacity: 0.7;
    top: -33%;
  }
  section.contact {
    padding: 40px 0;
  }
  section.contact h2.title {
    font-size: 24px;
    text-align: center;
  }
  section.contact .text {
    text-align: center;
  }
  section.contact .btn-wpp {
    padding: 11px 24px;
    width: 100%;
  }
  section.contact .phone {
    display: none;
  }
  section.contact .form-wrapper {
    margin-top: 45px;
  }
  section.contact .form-wrapper .btn-oracle {
    padding: 11px 80px;
    width: 100%;
  }
  section.intro .bg-shadow {
    opacity: 0.7;
    position: absolute;
    right: -20%;
    top: 7%;
    width: 140%;
    z-index: -1;
  }
  section.intro .bg-shadow-2 {
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: -10%;
    width: 100%;
    z-index: -1;
  }
  section.zoom .bg-shadow {
    left: -60px;
    top: -53%;
  }
  section.plans .bg-shadow,
  section.zoom .bg-shadow {
    opacity: 0.7;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  section.plans .bg-shadow {
    bottom: 85%;
    right: 0;
  }
  section.plans .bg-shadow-2 {
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: -30%;
    width: 100%;
    z-index: -2;
  }
  section.mision .bg-shadow {
    bottom: -22%;
    left: -13%;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  section.trusted-us .bg-shadow {
    opacity: 0.3;
    overflow-x: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  section.zoom .main-title {
    font-size: 24px;
  }
  section.zoom .swiper-wrapper {
    min-height: 475px;
  }
  section.faqs {
    margin-bottom: 40px;
    margin-top: 20px;
  }
  section.faqs .card-faqs .title {
    font-size: 24px;
  }
  section.faqs .card-faqs {
    padding: 20px 30px;
  }
  section.faqs
    .card-faqs
    .accordion-wrapper
    .accordion-flush
    .accordion-item
    .accordion-button {
    font-size: 16px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 20px;
  }
  section.faqs .card-faqs .accordion-body {
    font-size: 14px;
    padding-left: 30px;
  }
}
@media screen and (max-width: 530px) {
  section.intro .back-image {
    height: unset;
    left: -20%;
    width: 140%;
  }
}
